@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: "asap";
	font-weight: 400;
	src: url("../fonts/Asap-Regular.ttf");
	font-display: swap;
}

@font-face {
	font-family: "asap";
	font-weight: 900;
	src: url("../fonts/Asap-Bold.ttf");
	font-display: swap;
}

								/*style starts here*/
								/*style starts here*/
								/*style starts here*/
								/*style starts here*/
								/*style starts here*/
								/*style starts here*/


/*body set up*/
/*body set up*/
/*body set up*/

body {
	font-family: "asap";
	margin: auto;
	font-size: 16px;
	font-weight: 400;
	color: #939598;
	display: block;
	padding: 0px 45px;
}

h1 {
	margin-left: -6px;
	font-size: 8em;
	font-weight: 900;
	opacity: 0.14;
	margin-bottom: -1.3rem;
}

/*logo set up*/
/*logo set up*/
/*logo set up*/

#logo {
	font-size: 1.8em;
	font-weight: 900;
}

a#logo {
	color: #E07B00;
}

a#logo:hover{
	color: #939598;
}

/*nav set up*/
/*nav set up*/
/*nav set up*/

nav{
	display: block;
	height: 12.5vh;
	min-height: 70px;
	max-height: 100px;
	position: relative;
}

nav ul{
	list-style-type: none;
	position: absolute;
	bottom: 0px;
}

nav li {
	float: left;
	display: block;
	padding: 0px 19px;
	line-height: 2.58em;
}

nav li:first-child{
	padding-left: 0px;
	margin-left:-43px;
	line-height: 2.2em;
}

nav li:last-child{
	padding-right: 0px;
}

nav li a,
nav li a:visited{
	display: block;
	color: #939598;
}

nav li a:hover{
	color: #E07B00;
	text-decoration: none;
}

								/*media set up*/
								/*media set up*/
								/*media set up*/

/*media set up*/ /*desktop*/
/*media set up*/ /*desktop*/
/*media set up*/ /*desktop*/

@media (min-width: 1200px) {
	body{
		width: 1100px;
	}
}
@media (min-width: 1440px) {
	body{
		width: 1340px;
	}
}

/*media set up*/ /*mobile*/
/*media set up*/ /*mobile*/
/*media set up*/ /*mobile*/

@media (max-width:767px) {
	body {
		width: 100%;
		padding: 0px 30px;
	}
	
	h1 {
		font-size: 5em;
		margin-bottom: 0rem;
	}
	
	nav{
		height: 12.5vh;
		min-height: 116px;
		max-height: 146px;
		display: block;
		position: relative;
	}

	#logo {
		display: block;
		position: absolute;
		bottom: 2.6em;
		margin-bottom: -1em;
	}
	
	nav ul{
		list-style-type: none;
		position: absolute;
		bottom: 0px;
	}
	
	#portfolio-link {
		margin-left: -61px;
	}

}
       
