@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: "asap";
	font-weight: 400;
	src: url("../fonts/Asap-Regular.ttf");
}

@font-face {
	font-family: "asap";
	font-weight: 900;
	src: url("../fonts/Asap-Bold.ttf");
        font-display: swap;
}

								/*style starts here*/
								/*style starts here*/
								/*style starts here*/
								/*style starts here*/
								/*style starts here*/
						/*style starts here*/


/*body set up*/
/*body set up*/
/*body set up*/

body {
	font-family: "asap";
	margin: auto;
	font-size: 16px;
	font-weight: 400;
	color: #939598;
	display: block;
	padding: 0px 45px;
        text-rendering: geometricPrecision;
        -webkit-font-smoothing: antialiased; 
        display: block;
        width: 100%;
}

/*logo set up*/
/*logo set up*/
/*logo set up*/

#logo {
	font-size: 1.8em;
	font-weight: 900;
        text-rendering: geometricPrecision;
        -webkit-font-smoothing: antialiased;
}

a#logo {
	color: #E07B00;
}

a#logo:hover{
	color: #939598;
}

/*nav set up*/
/*nav set up*/
/*nav set up*/

nav{
	display: block;
	height: 12.5vh;
	min-height: 70px;
	max-height: 100px;
	position: relative;
}

nav ul{
	list-style-type: none;
	position: absolute;
	bottom: 0px;
}

nav li {
	float: left;
	display: block;
	padding: 0px 19px;
	line-height: 2.58em;
}

nav li:first-child{
	padding-left: 0px;
	margin-left:-43px;
	line-height: 2.2em;
}

nav li:last-child{
	padding-right: 0px;
}

nav li a,
nav li a:visited{
	display: block;
	color: #939598;
}

nav li a:hover{
	color: #E07B00;
	text-decoration: none;
}

/*media set up*/
/*media set up*/
/*media set up*/

@media (max-width:720px) {
	nav{
		height: 12.5vh;
		min-height: 116px;
		max-height: 146px;
		display: block;
		position: relative;
	}

	#logo {
		position: absolute;
		bottom: 2.6em;
                display: block;
		margin-bottom: -1em;
	}
	#portfolio-link {
		margin-left: -61px;
	}
}

@media (max-width:720px) {
        body {
        }
}
