@charset "utf-8";
/* CSS Document */
#index{
	position: absolute;
	top: 50vh;
	margin: -160px 0px;
}

#introduction{
	font-size: 4em;
	font-weight: bold;
	line-height: 1.2em;
}

#tagline{
	color: #E07B00;
}

#call-to-action {
	padding-bottom: 0em;
	border-bottom: solid 6px;
}

#call-to-action a {
	color: #939598;
	text-decoration: none;
}

#introduction-paragraph {
	display: block;
	margin: 1.8em 0;
}
/*media set up*/
/*media set up*/
/*media set up*/

@media (min-width:1440px) {
	#index{
		display: block;
		width: 1000px;
	}
}

@media (min-width: 1200px) {
	#index{
		display: block;
		width: 1000px;
	}
}

@media (max-width: 1199px) {
	#index{
		display: block;
		width: 100%;
		padding-right: 100px;
	}
}

