@charset "utf-8";
/* CSS Document */
#banner {
	margin-top: -170px;
	margin-bottom: -120px;
	height: 550px;
	background-image: url(image/BanMai_Calligraphy.png);
	background-repeat: no-repeat;
	background-size: 550px;
	background-position: center;
}
nav {background-color: #A67C52;
	 height: 340px;
	 text-align:center;
	 font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	 padding-top: 3em;
	 font-size: 16px;
	 font-weight: 600;
	 }
nav a:link {color: #fff;
	   		text-decoration: none;
	   		padding-left: 3em;
	   		padding-right: 3em;
			}
nav a:visited {color: #FFE9C1;
	   		text-decoration: none;
	   		padding-left: 3em;
	   		padding-right: 3em;
			}
nav a:hover {color: #FFF;
			font-size: 18px;
	   		text-decoration: none;
	   		padding-left: 3em;
	   		padding-right: 3em;
			}

#gallery {
	position: relative;
	border: #A67C52 solid 2px;
}
#gallery ul{
	height: 600px;
	list-style-type: none;

}
#gallery li {
	display: inline;
	float: left;
	padding: 10px;
	
}
#gallery img{
	border-style: none;
}
#gallery a {
	text-decoration: none;
	font-style: italic;
}
#gallery span {
	display: none;
}
#gallery a:hover span {
	display: block;
	position: absolute;
	top: 10px;
	left: 300px;
	text-align: center;
}

#tittle{
	margin-top:-0.5em;
	font-family:helvetica;
	color:#fff;
	font-size:58px;
	padding-bottom:20px;
	margin-bottom: -0.5px;
	}
header{ position:relative;
		top: -30px;
		}
#header-image{
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:auto;}
	   
#GoogleMap {
	/*float:right;*/
	display:block;
	min-height: 300px;
	min-width: 450px;
	margin-right:auto;
	margin-left: auto;
	background-color: aqua;
}
.wrapper {	
	display: block;
	max-width:80%;
	margin-right:auto;
	margin-left: auto;
	height: auto;
	min-height: 100%;
		}
#ava{
	float:right;
	margin-left:50px;
	margin-bottom:50px;
	border: 0.5em solid #A67C52;
	}
main{
	margin-top:100px;
	margin-bottom: 250px;
	padding-right: 50px;
	padding-left: 50px;
	font-size:14px;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	position: relative;
	height: 100%;
	min-height: 100%;
	}
footer{
	background-color:#A67C52;
	color:#fff;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:12px;
	font-style: italic;
	text-align:center;
	padding: 1em;
	position: fixed;
	width: auto;
	right: 0;
	left: 0;
	bottom: 0;

	}
body {
	height: 100%;	
	}
h1{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:36px;
	font-weight:300;
	}
h2{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:24px;
	font-weight:500;
	}
h3{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:20px;
	font-weight:500;
	}
h4 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 13px;
	font-weight: 300;
	padding-left: 36px;
}
.input_normal{
	display: flex;
	height: 2em;
	width:45%;
	margin-top: -10px;
	font-size:14px;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	border: #A67C52 solid 0.2em;
	padding-left: 10px;
	padding-right: 10px;
	}
.input_message{
	height: 15em;
	width:45%;
	margin-top: -10px;
	font-size:14px;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	border: #A67C52 solid 0.22em;
	padding: 10px;
	}
#submit_button{
	margin: 1.2em;
	padding: 0.5em;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:16px;
	color: white;
	word-wrap:normal;
	background-color:#A67C52;
	border: none;
	}
.icon {
	width: 2em;
}

.list_button {
	height: 1em;
	padding-right: 2em;
}

table {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	padding-left: 8em;
}

td {
	padding-top: 0.5em;
	padding-left: 1.5em;
	padding-right: 1.5em;
}
tr:hover {
	background-color: #FFE9C1;
	border: #000 3px solid;
}

#time_changing {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-size: 12px;
	float: right;
	padding-right: 300px;
	padding-top: 12px;
}
#logo {
	padding-left: 310px;
}

/*----------------------------------------*/
/* Style the tab */
div.tab {
    overflow: hidden;
    background-color: #A67C52;
}

/* Style the links inside the tab */
div.tab a {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	padding-left: 8em;
    float: left;
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
	border-top: 3px solid #A67C52;
}

/* Change background color of links on hover */
div.tab a:hover {
    background-color: #FFE9C1;
	border-top: 3px solid #A67C52;
}

/* Create an active/current tablink class */
div.tab a:focus, .active {
    background-color: #fff;
	border-top: 3px solid #A67C52;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
	background-color: #fff;
	color: #000;
	border-bottom: 3px solid #A67C52;
}

.tab {
	font-size:14px;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}

.alert {
	color: #FF0004;
}

